/*
Global
*/

body {
    font-family: 'Roboto', sans-serif;
}

/*
BUTTONS
*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}



/*
Login page
*/

.form-signin, .form-forgot, .form-register {
    width:300px;
    margin:10% auto;
}
.form-signin input, .form-forgot input, .form-register input {
    margin-bottom: 10px;
}



/*
Добавление изображения
*/
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px green; } /* Default class applied to drop zones on over */

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

