<div ng-include src="'templates/admin/header.html'"></div>

<input class="form-control" type="text" ng-model="searchQuery" placeholder="Поиск анкет"/>

<table class="table">
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Орг.</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Обновлено</th>
        <th>User</th>
        <th>Действия <span  tooltip-placement="right" tooltip="Кликните для включения/отключения возможности редактирования" class="glyphicon glyphicon-question-sign"></span></th>
    </tr>
    <tr ng-repeat="form in filteredForms = ( forms | filter:searchQuery )">
        <td>{{form.id}}</td>
        <td>
            <a href="#/admin/form/{{form.id}}">{{form.lastname}} {{form.firstname}} {{form.middlename}}</a>
        </td>
        <td>{{form.org}}</td>
        <td>{{form.email}}</td>
        <td>{{form.mobile_phone}}</td>
        <td>{{form.updated_at | dateToISO | date:'short'}}</td>
        <td>{{form.user.email}}</td>
        <td>

            <div>
                <span ng-show="form.is_blocked == 'false'" ng-click="setIsBlocked(form, 'true')" class="label label-success" style="cursor: pointer">Активна</span>
                <span ng-show="form.is_blocked == 'true'" ng-click="setIsBlocked(form, 'false')" class="label label-danger" style="cursor: pointer">Заблок.</span>
            </div>

        </td>
    </tr>
</table>