<div ng-include src="'templates/admin/header.html'"></div>

<div class="row">
    <div class="col-md-6">


        <div class="panel panel-default">
            <div class="panel-body">

                <h3>{{form.lastname}} {{form.firstname}} {{form.middlename}}</h3>

                <div><a href="mailto:{{form.email}}">{{form.email}}</a></div>
                <div><b>Моб. тел.:</b> {{form.mobile_phone}}</div>
                <div><b>Конт. тел.:</b> {{form.contact_phone}}</div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <div><b>Адрес организации:</b> {{form.org_addres}}</div>
                <div><b>Должность</b> {{form.job}}</div>

            </div>
        </div>

    </div><!-- col-md-6 -->

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-body">

                <div><b>Является:</b> {{form.department}}</div>
                <div><b>Опыт:</b> {{form.experience}}</div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Примеры использования ГИС-технологий </h4>
                <div>{{form.gis_samples}}</div>

            </div>
        </div>

    </div> <!-- col-md-6 -->
</div> <!-- row -->

<div class="row">
    <div class="col-md-6">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Проживание во время конференции</h4>
                    <div ng-show="form.i_need_flat == '1'">Мне нужно жилье во время конференции в Москве
                        <hr/>
                    </div>
                    <div ng-show="form.i_can_settle == '1'">Я мог бы принять у себя кого-то из иногородних участников конференции
                        <hr/>
                    </div>
                    <div ng-show="form.independent_booking == '1'">Вышлите на e-mail, указанный при регистрации, список гостиниц для самостоятельного бронирования
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default" ng-show="form.official_invitation == '1'">
            <div class="panel-body">
                <h4>Официальное приглашение</h4>
                <div><b>Должность и ФИО адресата:</b> {{form.invite_fio}}</div>
                <div><b>Обращение:</b> {{form.invite_appeal}}</div>
                <div><b>Почтовый адрес:</b> {{form.invite_address}}</div>
            </div>
        </div>
    </div>

</div> <!-- row -->

<div class="row">
    <div class="col-md-6">
        <div ng-show="form.oral_report == '1'">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Устный доклад</h4>
                    <div><b>Необходимо для выступления:</b></div>
                    <div ng-show="form.oral_report_projector == '1' ">проектор и экран для показа слайдов</div>
                    <div ng-show="form.oral_report_internet == '1' ">доступ в Интернет</div>
                    <div ng-show="form.oral_report_flash == '1' ">flash-player</div>
                    <div ng-show="form.oral_report_audio == '1' ">возможность демонстрации аудио/видеофайлов</div>
                    <div ng-show="form.oral_report_markers == '1' ">флип-чарт и маркеры</div>
                    <div ng-show="form.oral_report_other">{{form.oral_report_other}}</div>
                    <hr/>
                    <h4>Название доклада:</h4>
                    <div>{{form.oral_report_name}}</div>
                    <h4>аннотация доклада:</h4>
                    <div>{{form.oral_report_annotation}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div ng-show="form.stand_report == '1' ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Стендовый доклад</h4>
                    <div>формат А0 - количество постеров {{form.stand_report_a0_count}} шт.</div>
                    <div>формат А1 - количество постеров {{form.stand_report_a1_count}} шт.</div>
                    <div>формат А2 - количество постеров {{form.stand_report_a2_count}} шт.</div>
                </div>
            </div>
        </div>

        <div ng-show="form.roundtable == '1' ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Круглый стол</h4>
                    <div>{{form.roundtable_theme}}</div>
                </div>
            </div>
        </div>
    </div> <!-- col-md-6 -->
</div>

<hr/>


