<div ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Регистрация на конференцию</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li><a href="#">Link</a></li>-->
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Заявки <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/admin/forms">Список заявок</a></li>
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#/admin/forms/new">Добавить</a></li>-->
                        </ul>
                    </li>
                </ul>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="logout()">Выход</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
