<div class="container">

    <form class="form-signin" ng-submit="LogIn()" ng-show="hide">

        <h2>Войти</h2>
        <input name="email" ng-model="sign.email"  type="email" class="form-control" placeholder="Email" required autofocus>
        <input name="password" ng-model="sign.password" ng-hide="showme" type="password" class="form-control" placeholder="Пароль" required>
        <!--<div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить
            </label>
        </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-hide="ajaxLogin">Войти</button>
        <button class="btn btn-lg btn-warning btn-block" type="button" ng-show="ajaxLogin"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Обработка...</button>
        <div style="margin-top:30px;padding-top: 10px;border-top: 1px #888 solid;" ng-click="hide = !hide">
            <a href>Забыли пароль?</a>
        </div>
        <div>
            <a href="#/register">Регистрация</a>
        </div>
    </form>

    <form class="form-forgot" ng-submit="forgot()" ng-hide="hide">
        <h2>Восстановление пароля</h2>

        <input ng-model="sign.email"  type="text" class="form-control" placeholder="Email" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Выслать пароль</button>
        <div style="margin-top:30px;padding-top: 10px;border-top: 1px #888 solid;" ng-click="hide = !hide"><a href>Войти!</a></div>
    </form>

</div>
