<div ng-include src="'templates/header.html'"></div>

<h1 class="text-center">Конференция Сообщества природоохранных ГИС в России</h1>
<h3 class="text-center">International Practical Conference of Society for Conservation GIS (SCGIS) in Russia</h3>
<h3 class="text-center">Заявка на участие <span ng-show="form.is_blocked == 'true'" class="label label-warning">закрыта для редактирования</span></h3>

<div>Поля, отмеченные звездочкой *, обязательны для заполнения.</div>
<form ng-submit="submitForm()">
    <div class="row">
        <div class="col-md-6">

            <label>Фамилия *</label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите фамилию" ng-model="form.lastname" required>
            <br/>
            <label>Имя *</label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите имя" ng-model="form.firstname" required>
            <br/>
            <label>Отчество</label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите отчество" ng-model="form.middlename">
            <br/>
            <label>Электронный адрес *</label>
            <input type="email" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите email" ng-model="form.email" required>
            <br/>
            <label>Мобильный телефон * <span  tooltip-placement="right" tooltip="Для связи с Вами организаторов" class="glyphicon glyphicon-question-sign"></span> </label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.mobile_phone" ui-mask="{{'+7(999) 999-9999'}}" required>
            <br/>
            <label>Контактный телефон <span  tooltip-placement="right" tooltip="Будет указан в контактном листе, который получит каждый участник конференции" class="glyphicon glyphicon-question-sign"></span> </label>
            <div><input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.contact_phone_var" ng-change="changeContactPhone()" ng-true-value="'1'" ng-false-value="'0'"/> Указанный мобильный телефон или</div>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true' || form.contact_phone_var == 1" ng-model="form.contact_phone" ui-mask="{{'+7(999) 999-9999'}}">
            <br/>

        </div>
        <div class="col-md-6">

            <label>Организация <span  tooltip-placement="right" tooltip="То, как будет написано на бейдже" class="glyphicon glyphicon-question-sign"></span></label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите организацию" ng-model="form.org">
            <br/>
            <label>Адрес организации (страна, населенный пункт, адрес)</label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите адрес организации" ng-model="form.org_addres">
            <br/>
            <label>Должность</label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите должность" ng-model="form.job">
            <br/>

            <label>Вы - *</label>
            <div>
                <input id="r1" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.department" value="Представитель коммерческой организации"/>
                <label for="r1">Представитель коммерческой организации</label>
            </div>
            <div>
                <input id="r2" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.department" value="Представитель органов государственной власти"/>
                <label for="r2">Представитель органов государственной власти</label>
            </div>
            <div>
                <input id="r3" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.department" value="Сотрудник НИИ"/>
                <label for="r3">Сотрудник НИИ</label>
            </div>
            <div>
                <input id="r4" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.department" value="Преподаватель / студент / аспирант ВУЗа"/>
                <label for="r4">Преподаватель / студент / аспирант ВУЗа</label>
            </div>
            <div>
                <input id="r5" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.department" value="Сотрудник ООПТ"/>
                <label for="r5">Сотрудник ООПТ</label>
            </div>
            <div>
                <input id="r6" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.department" value="Сотрудник НКО"/>
                <label for="r6">Сотрудник НКО</label>
            </div>
            <div>
                <input id="r7" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.department"/>
                <label for="r7">Другое</label>
                <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" ng-hide="form.department == 'Представитель коммерческой организации' || form.department == 'Представитель органов государственной власти' || form.department == 'Сотрудник НИИ' || form.department == 'Преподаватель / студент / аспирант ВУЗа' || form.department == 'Сотрудник ООПТ' || form.department == 'Сотрудник НКО'" ng-model="form.department">
            </div>

            <br/>
            <br/>
            <label>Опыт использования ГИС-технологий для решения задач охраны природы *</label>
            <div>
                <input id="experience1" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.experience" value="Только планируете использовать ГИС"/>
                <label for="experience1">Только планируете использовать ГИС</label>
            </div>
            <div>
                <input id="experience2" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.experience" value="Небольшой опыт (1-2 года)"/>
                <label for="experience2">Небольшой опыт (1-2 года)</label>
            </div>
            <div>
                <input id="experience3" type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.experience" value="Значительный опыт (более 2 лет)"/>
                <label for="experience3">Значительный опыт (более 2 лет)</label>
            </div>
            <br/>

        </div>
    </div>

    <hr/>

    <div>
        <dl>
            <dt>Опишите примеры использования ГИС-технологий для решения задач охраны природы в Вашей работе. *</dt>
            <dd>Просим Вас ответить на этот вопрос, так как на основании этой информации организаторы будут выбирать участников в случае, если заявок будет существенно больше, чем может принять конференция.</dd>
        </dl>

        <textarea class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.gis_samples" maxlength="2000" cols="30" rows="10" required></textarea>
    </div>

    <hr/>

    <div>
        <dl>
            <dt>Просим Вас загрузить изображения, иллюстрирующие Вашу работу <span  tooltip-placement="right" tooltip="Это могут быть примеры карт, фотографии в полевых условиях и т.п. Они будут использованы для демонстрации слайдшоу в перерывах между сессиями на конференции в форматах jpg, png, jpeg, bmp, gif" class="glyphicon glyphicon-question-sign"></span></dt>
            <dd></dd>
        </dl>

        <div class="row" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
            <div class="col-md-3">
                <div ng-show="uploader.isHTML5">
                    <!-- 3. nv-file-over uploader="link" over-class="className" -->
                    <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                        Перетащите изображения сюда
                    </div>

                </div>
                <div>или</div>
                <input class="form-control" type="file" nv-file-select="" uploader="uploader" multiple  />
            </div>
            <div class="col-md-9">

                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Имя</th>
                        <th ng-show="uploader.isHTML5">Размер</th>
                        <th ng-show="uploader.isHTML5">Процесс</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Загрузить
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Удалить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        Очередь загрузки:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Загрузить все
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Отменить все
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Удалить все
                    </button>
                </div>

            </div><!-- col-md-9 -->
        </div>

    </div>
    <hr/>

    <div>
        <dl>
            <dt>Проживание во время конференции</dt>
            <dd>Проживание возможно либо у волонтеров-участников конференции (для поиска волонтеров создан специальный раздел форума; мы просим участников самостоятельно найти себе принимающую сторону посредством форума, а тех, кто готов принять иногородних участников у себя – написать об этом в форуме) либо в гостинице (участники бронируют самостоятельно, организаторы могут предоставить список гостиниц недалеко от места проведения конференции).</dd>
        </dl>

        <div>
            <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.i_need_flat" ng-true-value="'1'" ng-false-value="'0'"/> Мне нужно жилье во время конференции в Москве
        </div>
        <div>
            <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.i_can_settle" ng-true-value="'1'" ng-false-value="'0'"/> Я мог бы принять у себя кого-то из иногородних участников конференции
        </div>
        <div>
            <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.independent_booking" ng-true-value="'1'" ng-false-value="'0'"/> Вышлите на e-mail, указанный при регистрации, список гостиниц для самостоятельного бронирования
        </div>
    </div>

    <hr/>
    <!--  -->
    <div>
        <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.official_invitation" ng-true-value="'1'" ng-false-value="'0'"/> Отметьте этот пункт, если Вам необходимо <b>официальное приглашение</b>. Письмо будет сгенерировано автоматически и отправлено Вам на e-mail после заполнения формы.
        <div ng-show="form.official_invitation == '1'">
            <label>Должность и ФИО адресата *</label> <span  tooltip-placement="right" tooltip="Как будет указано в письме в графе 'Кому'" class="glyphicon glyphicon-question-sign"></span>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Губернатору Ульяновской области С.И.Морозову" ng-model="form.invite_fio">
            <br/>
            <label>Обращение *</label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Уважаемый Сергей Иванович" ng-model="form.invite_appeal">
            <br/>
            <label>Почтовый адрес, по которому необходимо выслать письмо-приглашение *</label>
            <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="432017 Россия, г. Ульяновск, пл. Ленина, д.1" ng-model="form.invite_address">
            <br/>
        </div>
    </div>

    <hr/>

    <div class="panel panel-default">
        <div class="panel-body">
            <label>Форма участия *</label>
            <div>(Можно выбрать несколько опций. Выберите вариант, чтобы просмотреть дополнительную информацию и вопросы в соответствующем разделе ниже)</div>
            <div>
                <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report" ng-true-value="'1'" ng-false-value="'0'"/> Устный доклад. <span  tooltip-placement="right" tooltip="Представление доклада на секции устных докладов" class="glyphicon glyphicon-question-sign"></span>
            </div>
            <div>
                <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.stand_report" ng-true-value="'1'" ng-false-value="'0'"/> Стендовый доклад. <span  tooltip-placement="right" tooltip="Участие в секции стендовых докладов" class="glyphicon glyphicon-question-sign"></span>
            </div>
            <div>
                <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.roundtable" ng-true-value="'1'" ng-false-value="'0'"/> Ведущий круглого стола <span  tooltip-placement="right" tooltip="Это может быть дискуссия, мастер-класс от участника для обмена опытом и т.п." class="glyphicon glyphicon-question-sign"></span>
            </div>
            <div>
                <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.listener" ng-true-value="'1'" ng-false-value="'0'"/> Слушатель <span  tooltip-placement="right" tooltip="Участие в технических мастер-классах и обсуждениях" class="glyphicon glyphicon-question-sign"></span>
            </div>
            <div>
                <input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.volunteer_assistance" ng-true-value="'1'" ng-false-value="'0'"/> Волонтерская помощь на конференции <span  tooltip-placement="right" tooltip="(Для проведения конференции может понадобиться помощь участников. Пожалуйста, отметьте этот пункт, если Вы готовы помочь в процессе организации и проведения конференции. Ниже можно уточнить, чем именно Вы хотели бы заняться)" class="glyphicon glyphicon-question-sign"></span>
            </div>
        </div>
    </div>

    <div ng-show="form.volunteer_assistance == '1' ">
        <h2>Волонтерская помощь</h2>
        <dl>
            <dd>
                Для проведения конференции может понадобиться помощь участников. Задачи могут быть самыми разными: перевод текстов, перевод по ходу конференции для нерусскоязычных участников, верстка (бейджей, аннотаций и т.п.), помощь на регистрации, техническое ассистирование в течение мастер-классов, подготовка кофе-брейков и т.д. Пожалуйста, уточните, чем бы Вы предпочли заняться. Мы свяжемся с Вами, если помощь понадобится.
            </dd>
            <dd>
                Я  готов оказать волонтерскую помощь конференции! Предпочтительно
                <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.volunteer_assistance_help">
            </dd>
        </dl>
    </div>

    <div ng-show="form.oral_report == '1' ">

        <h2>Устный доклад</h2>
        <div>Продолжительность доклада (без учета вопросов) - до 10 минут. Доклады будут распределены по секциям на основании их тематики после завершения приема заявок.</div>
        <div>
            <h4>Что Вам необходимо для выступления:</h4>
            <div><input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_projector" ng-true-value="'1'" ng-false-value="'0'"/> проектор и экран для показа слайдов</div>
            <div><input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_internet" ng-true-value="'1'" ng-false-value="'0'"/> доступ в Интернет</div>
            <div><input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_flash" ng-true-value="'1'" ng-false-value="'0'"/> flash-player</div>
            <div><input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_audio" ng-true-value="'1'" ng-false-value="'0'"/> возможность демонстрации аудио/видеофайлов</div>
            <div><input type="checkbox" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_markers" ng-true-value="'1'" ng-false-value="'0'"/> флип-чарт и маркеры</div>
            <div>другое:</div>
            <div>
                <input type="text" class="form-control" ng-disabled="form.is_blocked == 'true'" placeholder="Введите дополнительное оборудование при необходимости" ng-model="form.oral_report_other">
                <br/>
            </div>
        </div>

        <br/>

        <!--<div>-->
            <!--<h4>Язык доклада:</h4>-->
            <!--<div><input type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_lang" value="ru"> только русский</div>-->
            <!--<div><input type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_lang" value="en"> только английский</div>-->
            <!--<div><input type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_lang" value="ru_en"> предпочитаю русский, но могу сделать доклад и по-английски</div>-->
            <!--<div><input type="radio" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_lang" value="polyglot"> могу делать доклад на любом языке</div>-->
        <!--</div>-->

        <br/>

        <div>
            <h4>Название доклада </h4>
            <div>На русском языке</div>
            <div><textarea class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_name" cols="30" rows="4" placeholder="Введите название доклада"></textarea></div>
        </div>

        <br/>

        <div>
            <h4>Аннотация доклада </h4>
            <div>На русском языке.</div>
            <div>Напоминаем, что Вы можете вернуться к изменению полей формы позже, используя свой логин-пароль, до 15 июля.</div>
            <div>Размер аннотации 500-1000 знаков.</div>
            </div>
            <div><textarea class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.oral_report_annotation" cols="30" rows="10" placeholder="Введите аннотацию доклада"></textarea></div>
        </div>

    </div>

    <hr/>

    <div ng-show="form.stand_report == '1' ">
        <h2>Стендовый доклад</h2>
        <dl>
            <dd>Галерея стендовых докладов будет работать все время конференции. Специальной сессии стендовых докладов не предусмотрено - предполагается обсуждение постеров в перерывах и кофе-брейках.</dd>
        </dl>

        <div>формат А0 - количество постеров <input style="width:100px;display: inline-block" type="number" class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.stand_report_a0_count" min="0"></div>
        <div>формат А1 - количество постеров <input style="width:100px;display: inline-block" type="number" class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.stand_report_a1_count" min="0"></div>
        <div>формат А2 - количество постеров <input style="width:100px;display: inline-block" type="number" class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.stand_report_a2_count" min="0"></div>

    </div>

    <div ng-show="form.roundtable == '1' ">
        <h2>Круглый стол</h2>

        <dl>
            <dd>В ходе конференции Вы можете провести дискуссию или мастер-класс на интересующую Вас тему, собрать
                коллег для обсуждения какой-либо проблемы или поделиться опытом. Темы круглых столов не будут оглашаться
                заранее, в том числе можно будет инициировать круглый стол непосредственно на конференции (для этого
                надо будет сообщить о Вашем желании организаторам). Однако организаторам необходимо представлять общее
                количество инициатив для общего планирования конференции. Ведущим будет выделено 2-3 минуты на краткое
                представление темы круглого стола, чтобы все участники могли определиться в своих интересах. По
                окончании обсуждения у группы будет 5 минут на общей сессии для подведения итогов круглого стола.
            </dd>
            <dd>Предложите тему для круглого стола, который Вы готовы провести (это может быть дискуссия, мастер-класс
                от участника для обмена опытом, обсуждение технических или методических вопросов, инициированное самими
                участниками, и т.п.).
            </dd>
        </dl>
        <textarea class="form-control" ng-disabled="form.is_blocked == 'true'" ng-model="form.roundtable_theme"
                  maxlength="2000" cols="30" rows="10"></textarea>

    </div>

    <br/>
    <button class="btn btn-primary" ng-disabled="form.is_blocked == 'true'" type="submit" ng-hide="ajaxSave">Сохранить</button>
    <button class="btn btn-warning" ng-disabled="form.is_blocked == 'true'" type="button" ng-show="ajaxSave"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Обработка...</button>
    <span ng-show="successfulAjax" class="animate-show" style="color:#2ecc71"> <span class="glyphicon glyphicon-ok"></span> Сохранено </span>

</form>

<br/>
<pre>{{form}}</pre>