<div class="container">

    <form class="form-register" ng-submit="Register()">

        <h2>Регистрация</h2>

        <input name="email" ng-model="sign.email"  type="email" class="form-control" placeholder="Email" required autofocus>
        <input name="password" ng-model="sign.password" ng-hide="showme" type="password" class="form-control" placeholder="Пароль" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-hide="ajaxLogin">Регистрация</button>
        <button class="btn btn-lg btn-warning btn-block" ng-show="ajaxLogin"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Обработка...</button>

        <div style="margin-top:30px;padding-top: 10px;border-top: 1px #888 solid;">
            <a href="#/login">Войти</a>
        </div>

    </form>


    <pre>{{sign}}</pre>
</div>
